h5{
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
    background-color: black;
    height: 30px;
    width: 200px;
    margin-left: 140px;
    border-radius: 10px;
}
input{
   height: 30px;
   width: 250px;
   text-align: center;
   margin-left: 120px;
   margin-top: 15px;
   border-radius: 5px;
}
button{
    border-radius: 5px;
    background-color: rgb(8, 58, 27);
    color: white;
    margin-left: 160px;
    margin-top: 10px;
}
.row{
    border: 3px solid black;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    /* background-color: white
    */

}
.row-12{
    text-align: center;
}
.section{
    margin-top: 250px;
    margin-left: 400px;
    
}
